<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
<html ng-app="rxmanager">
<head>
  <title>RxManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-view>
  <%= yield %>
</div>

</body>
</html>
